/*IMPORTED FONTS*/
@import url(https://use.typekit.net/egg1umb.css);

/*ROOT VARIABLES*/
:root{
    --magenta: magenta;
    --yellow: yellow;
    --blue: blue;
    --dark-grey: #191919;
    --white: #faf9f6;

    --heading: fit, sans-serif;
    --text: input-mono, serif;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*GLOBAL STYLES*/

header a{
    text-decoration: none;
    color: var(--dark-grey);
    text-transform: uppercase;
}

.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.skip{
    position: absolute;
    transform: translateY(-100%);
    justify-content: center;
    transition: transform 0.3s;
    background: var(--dark-grey);
    color: var(--white);
    padding: 20px;
}

.skip:focus{
    transform: translateY(25%);
}

body{
    background-color: var(--white);
    overflow-x: hidden;
    font-family: var(--text);
    font-weight: 400;
}

main:not(h1, h2, h3, h4, h5, h6){
    line-height: 1.5;
    font-size: 1.15rem;
}

h1, h2, h3, h4, h5, h6{
    font-family: var(--heading);
    letter-spacing: 1px;
    color: var(--dark-grey);
}

h1{
    font-size: 5rem;
}

h2{
    font-size: 5rem;
}

nav ul{
    display: flex;
    flex-direction: column;
    justify-self: center;
    width: 100%;
}

nav ul li a{
    display: block;
    background-color: var(--dark-grey);
    color: var(--white);
    text-align: center;
    padding: 20px 0;
    font-size: 1.5rem;
}

nav ul li a:active{
    background-color: var(--white);
    color: var(--dark-grey);
}

/*
.mobile-head{
    display: none;
}
*/

main{
    padding: 8%;
    display: flex;
    flex-direction: column;
}

p{
    margin-bottom: 25px;
}

.section-card{
    margin-bottom: 20%;
}

.section-card:not(#contact) a{
    background: var(--dark-grey);
    color: var(--white);
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid var(--dark-grey);
    transition: all .2s;
}

.section-card:not(#contact) a:hover, .section-card:not(#contact) a:focus{
    background-color: var(--white);
    color: var(--dark-grey);
    font-weight: bold;
    transition: all .2s;
}

footer{
    background-color: var(--dark-grey);
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: .25rem;
    padding: 100px;
}

@media (min-width: 700px){
    .mobile-head{
        display: contents;
    }
}
